AI_ENV=
AI_PORT=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_FOLDER=
CORS_ORIGIN=
DATABASE_DIRECT_URL=
DATABASE_URL=
ENCRYPTION_KEY=
EXPO_PUBLIC_AI_API_URL=
EXPO_PUBLIC_CORE_API_URL=
GEMINI_MODEL=
GROQ_API_KEY=
JWT_ACCESS_EXPIRES=
JWT_ACCESS_SECRET=
JWT_REFRESH_EXPIRES=
JWT_REFRESH_SECRET=
X_API_KEY=